SERVER_PORT=:3000
DB_PATH=restaurant.db

DB_USER=admin
DB_PASSWORD=password123
DB_DB=restaurant_db
DB_PORT=5433

POSTGRES_DSN="host=localhost user=admin password=password123 dbname=restaurant_db port=5433 sslmode=disable TimeZone=UTC"
