# Fiber
SERVER_PORT=:3000
DB_PATH=restaurant.db

#CORS
ALLOW_ORIGINS=http://localhost:8000, https://localhost:8000

## JWT
JWT_SECRET=a_very_secret_and_long_key_for_jwt

## DB CONNECTION STRING
POSTGRES_DSN="host=localhost user=admin password=password123 dbname=restaurant_db port=5433 sslmode=disable TimeZone=UTC"

# DOCKER
DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=password123
DB_DB=restaurant_db
DB_PORT=5433
